* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: burlywood;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  /* line(s) below to be removed */
  border: 1px solid black;
}
